# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
packages
_ReSharper.CloudUri
*.suo
*.user
debug
logs
*.dbmdl
CloudUri.Web.Publish.xml
*.schemaview

# mstest test results
TestResults

[diff]
    tool = kdiff3

[merge]
    tool = kdiff3

[mergetool "kdiff3"]
    path = C:/Program Files (x86)/KDiff3/kdiff3.exe
    keepBackup = false
    trustExitCode = false