@model CloudUri.Web.ViewModels.DevicesViewModel

@{
    ViewBag.Title = "Devices";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Your devices</h2>

<table class="table table-striped">
    <thead>
        <tr>
            
        </tr>
    </thead>
</table>
